ul.navbar-nav {
    margin-right: 50px;
}

nav {
    height: 80px;
}

button.button-ask {
    display: inline-block;
    height: calc(1.5em + .75rem + 2px);
    width: 70px;
    background-color: limegreen;
    color:white;
    border-radius: 5px;
    margin-left: 10px;
}

.userblock > .for-unlogged-user { display: inline; }
.userblock > .for-logged-user { display: none; }

.userblock.logged-user > .for-unlogged-user { display: none; }
.userblock.logged-user > .for-logged-user { display: inline; }

.userblock {
    position: relative;
    right: 10px;
}

.userblock > table {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.userblock > table td {
    padding: 0px 5px;
}

.userblock > table img {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
}

.userblock  .user-name {
    color: white;
}

.userblock a {
    font-size: 90%;
    color: lightgray;
}

.userblock a:visited {
    color: gray;
}

.pop-tag-1 {

}

.pop-tag-2 {
    font-size: 130%;
    color: magenta;
}

.pop-tag-3 {
    font-size: 160%;
    color: green;
}

.pop-tag-4 {
    font-size: 190%;
    color: red;
}

.popular-tags > a {
    display: inline-block;
    margin-right: 10px;
    transition: 0.3s;
    text-align: center;
}

.popular-tags > a:hover {
    text-decoration: none;
    color: lime;
    transition: 0.1s;
}

.right-block {
    margin-top: 30px;
    margin-bottom: 50px;
}

body {
    background-image: url(../img/background.jpg);
}

.container {
    background-color: white;
    opacity: 0.95;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.best-members > ul {
    list-style-type: none;
    padding-left: 0;
}

.best-members > ul > li {
    margin: 10px 0;
}

.best-members > ul > li:hover {
    text-decoration: none;
}

.question-card {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.question-card .question-title {
    height: 10%;
    position: absolute;
}

.question-card .question-text {
    overflow: hidden;
    position: absolute;
    height: 30%;
    top: 50px;
    padding-right: 20px;
}

.question-card .question-footer {
    position: absolute;
    height: 20%;
    bottom: 0
}

.question-card > div {
    padding: 10px 0;
    text-align: initial;
}

.question-card .avatar-box {
    max-height: 60px;
    text-align: center;
}

.question-card .avatar-box img {
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.question-card .like-counter{
    margin-top: 20px;
    text-align: center;
}

.question-card .like-counter .info {
    margin-bottom: 5px;
}

.question-card .like-counter .info > span {
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.1);
    width: 25px;
    border-radius: 50%;
}

.question-card .like-button {
    display: inline-block;
    background-image: url(../img/like-dec.png);
    background-size: contain;
    height: 20px;
    width: 20px;
    transform: scale(1, -1);
}

.question-card .dislike-button {
    display: inline-block;
    background-image: url(../img/like-dec.png);
    background-size: contain;
    height: 20px;
    width: 20px;
}

.question-card .col1 {
    position: relative;
    width: 70px;
    display: inline-block;
}

.question-card .col2 {
    vertical-align: top;
    width: calc(100% - 80px);
    display: inline-block;
    padding: 10px;
}

.question-footer {
    position: relative;
    width: calc(100% - 70px - 30px);
}

.question-tag {
    padding: 0 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    margin-right: 3px;
}
.question-tag:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.question-answer {
    float: left;
}

.question-tags {
    float: right;
}

.answer-count:before {
    content:"(";
}
.answer-count:after {
    content:")";
}

.questions-header {
    margin-bottom: 50px;
}

.questions-header .hot {
    display: inline-block;
    font-size: 60%;
    text-decoration: underline;
    margin-left: 50px;
}

.questions-footer {
    margin-bottom: 30px;
}

.questions-footer .page-ref {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
}

.questions-footer .page-ref:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}