{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
Hot Questions
{% endblock title %}

{% block content %}

<div class="questions-header">
    <h1>
        Hot Questions
        <a class="hot" href={% url 'index' %}>New Questions</a>
    </h1>
</div>

{% for question in questions %}
    {% include 'inc/question_card.html'%}
{% endfor %}

<div class="questions-footer">
    <div class="paginator">
        <a href="" class="page-ref">1</a>
        <a href="" class="page-ref">2</a>
        <a href="" class="page-ref">3</a>
        <a href="" class="page-ref">...</a>
        <a href="" class="page-ref">17</a>
    </div>
</div>

{% endblock content %}