{% extends 'inc/base.html' %}

{% load static %}

{% block title %}
Settings
{% endblock title %}

{% block content %}

<h1>
    Settings:
    <span id="username">{{request.user.username}}</span>
</h1>
<form class="question-ask" action="" method="POST">
    <table cols=2>
        <tr>
            <td><div class="label">Username</div></td>
            <td><input type="text" name="nickname" required id="" placeholder="%usernick%" value={{request.user.username}}></td>
        </tr>
        <tr>
            <td><div class="label">Email</div></td>
            <td><input type="text" name="email" required id="" rows="10" placeholder="%usermail%" value={{request.user.email}}></td>
        </tr>
        
        <tr>
            <td><div class="label">Upload avatar</div></td>
            <td>
                <img id="user-avatar" width="100px" src={{request.user.profile.avatar.url}}><br><br>
                <input type="file" name="nickname" id="" placeholder="%useravatar%">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>

{% endblock content %}