{% load static %}

<div class="question-card answer">
    <div class="col1">
        <div class="avatar-box">
            <img src={{question.user_image}}>
        </div>
        <div class="like-counter">
            <div class="info">
                <span>
                    {{answer.likes_count}}
                </span>
            </div>
            <a href="" class="like-button"></a>
            <a href="" class="dislike-button"></a>
        </div>
    </div>
    <div class="col2">
        <h6>
            <table style="width: 100%">
                <tr>
                    <td style="text-align: left; width: 50%;">
                        <div class="question-date" style="display: inline-block;">
                            {{ question.publication_date }}
                    </div>
                    </td>
                    <td style="text-align: right; width: 50%;">
                        <div class="question-author" style="display: inline-block;">
                            Published by: {{ question.author }}
                    </div>
                    </td>
                </tr>
            </table>
        </h6>
        <div class="question-text">
            {{answer.text}}
        </div>
        <div class="question-footer">
            <input type="checkbox" value="correct"> Correct!
        </div>
    </div>
</div>