{% load static %}

<div class="question-card">
    <div class="col1">
        <div class="avatar-box">
            <img src={% static "/img/user-avatar.png" %}/>
        </div>
        <div class="like-counter">
            <div class="info">
                <span>
                    {{ question.likes_counter }}
                </span>
            </div>
            <a href="" class="like-button"></a>
            <a href="" class="dislike-button"></a>
        </div>
    </div>
    <div class="col2">
        <div class="question-title">
            <h3>
                {{ question.title }}
            </h3>
        </div>
        <div class="question-text">
            {{ question.text }}
        </div>
        <div class="question-footer">
            <div class="question-answer">
                <a href={% url 'question' question.id%}>
                    Answer
                    <span class="answer-count">
                        {{ question.answers_counter }}
                    </span>
                </a>
                
            </div>
            <div class="question-tags">
                Tags:
                {% for tag in question.tags %}
                    <a href={% url 'tag' tag.name %} class="question-tag">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>