{% load static %}

<div class="question-card">
    <div class="col1">
        <div class="avatar-box">
            <img src={{question.author.profile.avatar.url}}/>
        </div>
        <div class="like-counter">
            <div class="info">
                <span>
                    {{question.rating}}
                </span>
            </div>
            <a href="" class="like-button"></a>
            <a href="" class="dislike-button"></a>
        </div>
    </div>
    <div class="col2">
        <div class="question-title" >
            <h3>
                <a href={% url 'question' question.id%}>
                    {{question.title}}
                </a>
            </h3>
            <h6>
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: left; width: 50%;">
                            <div class="question-date" style="display: inline-block;">
                                {{question.publication_date}}
                        </div>
                        </td>
                        <td style="text-align: right; width: 50%;">
                            <div class="question-author" style="display: inline-block;">
                                Published by: {{question.author.username}}
                        </div>
                        </td>
                    </tr>
                </table>
            </h6>
        </div>
        <div class="question-text">
            {{question.text}}
        </div>
        <div class="question-footer">
            <div class="question-answer">
                <a href={% url 'question' question.id%}>
                    Answer
                    <span class="answer-count">
                        {{question.answer_set.count}}
                    </span>
                </a>
                
            </div>
            {% if question.tags.count %}
            <div class="question-tags">
                Tags:
                {% for tag in question.tags.all %}
                    <a href={% url 'tag' tag.name %} class="question-tag">
                        {{tag.name}}
                    </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>